In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Update the path to include the data directory
amazon_sales = '../data/Amazon Sale Report.csv'

# Now read the CSV file from the data directory
sales = pd.read_csv(amazon_sales)


#CLEANING: 

sales = sales.drop(columns=['fulfilled-by', 'Unnamed: 22'])


# Function to display initial data overview
def data_overview(df, name):
    print(f"\nOverview of {name} dataset:")
    print(df.info())
    print(df.head())
    print(f"\nNumber of duplicates in {name}: {df.duplicated().sum()}")
    print(f"Missing values in {name}:\n{df.isnull().sum()}\n")
    
# Replace missing values in 'Courier Status' with 'Unknown' since 5.33% are null
sales['Courier Status'].fillna('Unknown', inplace=True)

# Replace missing values in 'currency' with 'INR' since 6.04% are null & all non-null are INR
sales['currency'].fillna('INR', inplace=True)

# Calculate the mean and median of the 'Amount' column 
amount_mean = sales['Amount'].mean()
amount_median = sales['Amount'].median()
# Replace missing values in 'Amount' with the mean since 6.04% are null
sales['Amount'].fillna(amount_mean, inplace=True)

# Replace missing values with 'Unknown'
columns_to_fill = ['ship-city', 'ship-state', 'ship-postal-code', 'ship-country']

for column in columns_to_fill:
    sales[column].fillna('Unknown', inplace=True)

# Replace NaN values in 'promotion-ids' with 'None'
sales['promotion-ids'] = sales['promotion-ids'].fillna('None')


sales['Date'] = pd.to_datetime(sales['Date'], errors='coerce')
sales['Fulfilment'] = sales['Fulfilment'].astype('category')
sales.columns = sales.columns.str.strip()

# List of columns to convert to 'category' type
columns_to_convert = ['Fulfilment', 'Sales Channel', 'ship-service-level']

# Convert the columns to 'category' type
sales[columns_to_convert] = sales[columns_to_convert].astype('category')
     
    
# Display initial data overviews
data_overview(sales, "sales")

/Users/juanescobar/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Overview of sales dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  datetime64[ns]
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  category
 5   Sales Channel       128975 non-null  category
 6   ship-service-level  128975 non-null  category
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            128975 non-null  object
 15  Amount              128975 non-null  float64
 16  ship-city           128975 non-null  object
 17  ship-state          128975 non-null  object
 18  ship-postal-code    128975 non-null  object
 19  ship-country        128975 non-null  object
 20  promotion-ids       128975 non-null  object
 21  B2B                 128975 non-null  bool
dtypes: bool(1), category(3), datetime64[ns](1), float64(1), int64(2), object(14)
memory usage: 18.2+ MB
None
   index             Order ID       Date                        Status  \
0      0  405-8078784-5731545 2022-04-30                     Cancelled
1      1  171-9198151-1101146 2022-04-30  Shipped - Delivered to Buyer
2      2  404-0687676-7273146 2022-04-30                       Shipped
3      3  403-9615377-8133951 2022-04-30                     Cancelled
4      4  407-1069790-7240320 2022-04-30                       Shipped

  Fulfilment Sales Channel ship-service-level    Style              SKU  \
0   Merchant     Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant     Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon     Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant     Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon     Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... Courier Status Qty currency  Amount    ship-city  \
0            Set  ...        Unknown   0      INR  647.62       MUMBAI
1          kurta  ...        Shipped   1      INR  406.00    BENGALURU
2          kurta  ...        Shipped   1      INR  329.00  NAVI MUMBAI
3  Western Dress  ...        Unknown   0      INR  753.33   PUDUCHERRY
4            Top  ...        Shipped   1      INR  574.00      CHENNAI

    ship-state ship-postal-code ship-country  \
0  MAHARASHTRA         400081.0           IN
1    KARNATAKA         560085.0           IN
2  MAHARASHTRA         410210.0           IN
3   PUDUCHERRY         605008.0           IN
4   TAMIL NADU         600073.0           IN

                                       promotion-ids    B2B
0                                               None  False
1  Amazon PLCC Free-Financing Universal Merchant ...  False
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True
3                                               None  False
4                                               None  False

[5 rows x 22 columns]

Number of duplicates in sales: 0
Missing values in sales:
index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
dtype: int64

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore


# Make sure the 'visualizations' directory exists
import os
if not os.path.exists('../visualizations'):
    os.makedirs('../visualizations')

# Plot 1: Distribution Of 'Amount' In Sales
plt.figure(figsize=(10, 6))
plt.hist(sales['Amount'], bins=50, color='blue', alpha=0.5, label='All Data')
plt.title("Histogram of 'Amount'")
plt.xlabel('Amount')
plt.ylabel('Frequency')
plt.legend()
plt.savefig('../visualizations/Histogram_Amount.png')
plt.close()

# Find outliers of 'Amount'
sales['z_score'] = zscore(sales['Amount'])
outliers = sales[sales['z_score'].abs() > 3]

# Plot 2: Comparison of Distribution: All Data vs Outliers
plt.figure(figsize=(10, 6))
plt.hist(sales['Amount'], bins=50, color='blue', alpha=0.5, label='All Data')
plt.hist(outliers['Amount'], bins=50, color='red', alpha=0.7, label='Outliers')
plt.xlabel('Amount')
plt.ylabel('Frequency')
plt.title('Comparison of Distribution: All Data vs Outliers')
plt.legend()
plt.savefig('../visualizations/All_Data_vs_Outliers.png')
plt.close()

# Plot 3: Distribution of Amount with Outliers
plt.figure(figsize=(12, 6))
sns.histplot(sales['Amount'], kde=True, bins=50)
plt.title('Distribution of Amount with Outliers')
plt.xlabel('Amount')
plt.ylabel('Frequency')
plt.savefig('../visualizations/Distribution_Amount_With_Outliers.png')
plt.close()

# Filter out outliers
filtered_sales = sales[sales['Amount'] <= 2000]

# Plot 4: Distribution of Amount without Outliers
plt.figure(figsize=(12, 6))
sns.histplot(filtered_sales['Amount'], kde=True, bins=50)
plt.title('Distribution of Amount without Outliers')
plt.xlabel('Amount')
plt.ylabel('Frequency')
plt.savefig('../visualizations/Distribution_Amount_Without_Outliers.png')
plt.close()

In [17]:
#Total Sales Per Month


# Plot 5: Filtered Total Sales Per Day
daily_sales = filtered_sales.groupby('Date')['Amount'].sum().reset_index()
min_y_all = daily_sales['Amount'].min()
max_y_all = daily_sales['Amount'].max()

plt.figure(figsize=(12, 6))
plt.plot(daily_sales['Date'], daily_sales['Amount'], marker='o')
plt.title('Filtered Total Sales Per Day')
plt.xlabel('Date')
plt.ylabel('Total Sales')
plt.ylim(0, max_y_all + 20000)  # Set y-axis limits
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.savefig('../visualizations/Total_Sales_Per_Day.png')
plt.close()

# Plot 6: Filtered Total Sales Per Month (Excluding March) / group by month and sum of sales
sales_filtered = sales[~sales['Date'].dt.month.isin([3])]
monthly_sales_filtered = sales_filtered.groupby(sales_filtered['Date'].dt.to_period('M'))['Amount'].sum()

plt.figure(figsize=(12, 6))
monthly_sales_filtered.plot(kind='bar')
plt.title('Filtered Total Sales Per Month (Excluding March)')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.grid(True)
plt.tight_layout()
plt.savefig('../visualizations/Total_Sales_Per_Month_Excluding_March.png')
plt.close()

In [18]:
#SKU Exploration



# Plot 7: Distribution of Top 20 SKUs
sku_counts = sales['SKU'].value_counts()
top_20_skus = sku_counts.head(20).reset_index()
top_20_skus.columns = ['SKU', 'Count']

plt.figure(figsize=(12, 8))
sns.barplot(x='SKU', y='Count', data=top_20_skus, palette='viridis')
plt.title('Distribution of Top 20 SKUs')
plt.xlabel('SKU')
plt.ylabel('Count')
plt.xticks(rotation=90)
plt.tight_layout()
plt.savefig('../visualizations/Top_20_SKUs.png')
plt.close()


# Plot 8: Distribution of Top 20 Simplified SKUs
size_suffixes = ['-XS','-S', '-M', '-L', '-XL', '-XXL','-XXXL']


def remove_size_suffix(sku):
    for suffix in size_suffixes:
        if sku.endswith(suffix):
            return sku[:-len(suffix)]
    return sku



sales['Simplified_SKU'] = sales['SKU'].apply(remove_size_suffix)
simplified_sku_counts = sales['Simplified_SKU'].value_counts()
top_simplified_skus = simplified_sku_counts.head(20).reset_index()
top_simplified_skus.columns = ['SKU', 'Count']

plt.figure(figsize=(14, 10))
sns.barplot(x='SKU', y='Count', data=top_simplified_skus, palette='viridis')
plt.title('Distribution of Top 20 Simplified SKUs')
plt.xlabel('SKU')
plt.ylabel('Count')
plt.xticks(rotation=90)
plt.tight_layout()
plt.savefig('../visualizations/Top_20_Simplified_SKUs.png')
plt.close()


#___________________________________________________________

#

In [20]:
#SEGMENTATION BEGIN

# Define broader categories
category_mapping = {
    'Set': 'Accessories',
    'kurta': 'Ethnic Wear',
    'Western Dress': 'Western Wear',
    'Top': 'Western Wear',
    'Ethnic Dress': 'Ethnic Wear',
    'Bottom': 'Accessories',
    'Saree': 'Ethnic Wear',
    'Blouse': 'Accessories',
    'Dupatta': 'Ethnic Wear'
}

# Plot 9: Total Sales by Segment
sales['Segment'] = sales['Category'].map(category_mapping)
# Calculate total sales by segment
segment_sales = sales.groupby('Segment')['Amount'].sum()

plt.figure(figsize=(10, 6))
sns.barplot(x=segment_sales.index, y=segment_sales.values)
plt.title('Total Sales by Segment')
plt.ylabel('Total Sales')
plt.xlabel('Segment')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('../visualizations/Total_Sales_by_Segment.png')
plt.close()

# Plot 10: Top 20 Simplified SKUs by Total Amount (Categorized)
sku_amounts = sales.groupby(['Simplified_SKU', 'Category'])['Amount'].sum().reset_index(name='Total_Amount')
top_20_skus = sku_amounts.nlargest(20, 'Total_Amount')
palette = sns.color_palette("husl", len(top_20_skus['Category'].unique()))

plt.figure(figsize=(14, 10))
sns.barplot(x='Total_Amount', y='Simplified_SKU', hue='Category', data=top_20_skus, palette=palette)
plt.title('Top 20 Simplified SKUs by Total Amount (Categorized)')
plt.xlabel('Total Amount')
plt.ylabel('Simplified SKU')
plt.legend(title='Category', loc='right')
plt.tight_layout()
plt.savefig('../visualizations/Top_20_Simplified_SKUs_By_Total_Amount.png')
plt.close()